In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('dataset/candidates.csv')
df.shape

(519, 8)

In [34]:
df.head()

,region#,url,name,birth_year,job,party,initiative_type,info
0,1,http://vybary2019.by/candidates/001-1.html,БРИЧ \r\nЛеонид Григорьевич,1958,депутат Палаты представителей Национального со...,член Белорусской патриотической партии,"политическая партия, трудовой коллектив, сбор ...",Родился 12 декабря 1958 года в д. Заплесье Дро...
1,1,http://vybary2019.by/candidates/001-2.html,КУРИЛОВИЧ \r\nВладимир Георгиевич,1981,директор ООО «Строймир Запад»,член Республиканской партии труда и справедлив...,NaN,Родился 21 сентября 1981 года в городе Брес...
2,2,http://vybary2019.by/candidates/002-1.html,ВАСЬКО\r\nМарина Викторовна,1975,заместитель директора по учебной работе ГУО «Г...,беспартийная,"сбор подписей избирателей, трудовой коллектив",Родилась 1 мая 1975 года в г. Бресте. Белорус...
3,2,http://vybary2019.by/candidates/002-2.html,МАРЧЕНКО\r\nДмитрий Евгеньевич,1970,пенсионер по инвалидности,член партии «Белорусская социал-демократическа...,политическая партия,Родился 8 августа 1970 года в деревне Дедлово ...
4,2,http://vybary2019.by/candidates/002-3.html,ОМЕЛЬЯНЧУК\r\nИрина Николаевна,1960,инженер ОАО «Стройгаз г. Брест»,член Партии БНФ,политическая партия,Родилась 31 мая 1960 года. Белоруска. Образов...

In [35]:
dt = df['info'].to_frame()
dt.head()

                                                info
0  Родился 12 декабря 1958 года в д. Заплесье Дро...
1  Родился  21 сентября 1981 года в  городе  Брес...
2  Родилась 1 мая  1975 года в г. Бресте. Белорус...
3  Родился 8 августа 1970 года в деревне Дедлово ...
4  Родилась 31 мая  1960 года. Белоруска. Образов...

In [36]:
manual = pd.DataFrame({'birthdate':['1958-12-12', '1981-09-21', '1975-05-01']})
manual.head()

    birthdate
0  1958-12-12
1  1981-09-21
2  1975-05-01

In [37]:
result = pd.concat([dt, manual], axis=1)
result.head()

                                                info   birthdate
0  Родился 12 декабря 1958 года в д. Заплесье Дро...  1958-12-12
1  Родился  21 сентября 1981 года в  городе  Брес...  1981-09-21
2  Родилась 1 мая  1975 года в г. Бресте. Белорус...  1975-05-01
3  Родился 8 августа 1970 года в деревне Дедлово ...         NaN
4  Родилась 31 мая  1960 года. Белоруска. Образов...         NaN

In [39]:
# задача восстановить оставшиеся значения в колонке birthdate с помощью ML алгоритма